
  <%= link_to "Caltrans Road & Traffic", "http://www.dot.ca.gov/roadsandtraffic.html" %>

  <div class="column_inner">
<div class="cleaner">&nbsp;</div>

<!-- pageContent -->
<h2>Highway Tables</h2>

<h2>Current Highway Information</h2>

<h4>Interstate Highways</h4>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 5 to 980</p></th>
  </tr>
  <tr>
    <td><%= link_to "I-5", "output?road=i5" %></td>
    <td><%= link_to "I-8", "output?road=i8" %></td>
    <td><%= link_to "I-10", "output?road=i10" %></td>
    <td><%= link_to "I-15", "output?road=i15" %></td>
    <td><%= link_to "I-40", "output?road=i40" %></td>
    <td><%= link_to "I-80", "output?road=i80" %></td>
    <td><%= link_to "I-105", "output?road=i105" %></td>
  </tr>
  <tr>
    <td><%= link_to "I-110", "output?road=i110" %></td>
    <td><%= link_to "I-205", "output?road=i205" %></td>
    <td><%= link_to "I-210", "output?road=i210" %></td>
    <td><%= link_to "I-215", "output?road=i215" %></td>
    <td><%= link_to "I-280", "output?road=i280" %></td>
    <td><%= link_to "I-380", "output?road=i380" %></td>
    <td><%= link_to "I-405", "output?road=i405" %></td>
  </tr>
  <tr>
    <td><%= link_to "I-505", "output?road=i505" %></td>
    <td><%= link_to "I-580", "output?road=i580" %></td>
    <td><%= link_to "I-605", "output?road=i605" %></td>
    <td><%= link_to "I-680", "output?road=i680" %></td>
    <td><%= link_to "I-710", "output?road=i710" %></td>
    <td><%= link_to "I-780", "output?road=i780" %></td>
    <td><%= link_to "I-805", "output?road=i805" %></td>
  </tr>
  <tr>
    <td><%= link_to "I-880", "output?road=i880" %></td>
    <td><%= link_to "I-980", "output?road=i980" %></td>
    <td>.</td>
    <td>.</td>
    <td>.</td>
    <td>.</td>
    <td>.</td>
  </tr>
</tbody></table>

<h4>US Highways in California</h4>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 6 to 395</p></th>
  </tr>
  <tr>
    <td><%= link_to "US-6", "output?road=us6" %></td>
    <td><%= link_to "US-50", "output?road=us50" %></td>
    <td><%= link_to "US-95", "output?road=us95" %></td>
    <td><%= link_to "US-97", "output?road=us97" %></td>
    <td><%= link_to "US-101", "output?road=us101" %></td>
    <td><%= link_to "US-199", "output?road=us199" %></td>
    <td><%= link_to "US-395", "output?road=us395" %></td>
  </tr>
</tbody></table>

<h4>State Routes in California</h4>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 1 to 46</p></th>
  </tr>
  <tr>
    <td><%= link_to "SR-1", "output?road=sr1" %></td>
    <td><%= link_to "SR-2", "output?road=sr2" %></td>
    <td><%= link_to "SR-3", "output?road=sr3" %></td>
    <td><%= link_to "SR-4", "output?road=sr4" %></td>
    <td><%= link_to "SR-9", "output?road=sr9" %></td>
    <td><%= link_to "SR-12", "output?road=sr12" %></td>
    <td><%= link_to "SR-13", "output?road=sr13" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-14", "output?road=sr14" %></td>
    <td><%= link_to "SR-16", "output?road=sr16" %></td>
    <td><%= link_to "SR-17", "output?road=sr17" %></td>
    <td><%= link_to "SR-18", "output?road=sr18" %></td>
    <td><%= link_to "SR-19", "output?road=sr19" %></td>
    <td><%= link_to "SR-20", "output?road=sr20" %></td>
    <td><%= link_to "SR-22", "output?road=sr22" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-23", "output?road=sr23" %></td>
    <td><%= link_to "SR-24", "output?road=sr24" %></td>
    <td><%= link_to "SR-25", "output?road=sr25" %></td>
    <td><%= link_to "SR-26", "output?road=sr26" %></td>
    <td><%= link_to "SR-27", "output?road=sr27" %></td>
    <td><%= link_to "SR-28", "output?road=sr28" %></td>
    <td><%= link_to "SR-29", "output?road=sr29" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-30", "output?road=sr30" %></td>
    <td><%= link_to "SR-32", "output?road=sr32" %></td>
    <td><%= link_to "SR-33", "output?road=sr33" %></td>
    <td><%= link_to "SR-34", "output?road=sr34" %></td>
    <td><%= link_to "SR-35", "output?road=sr35" %></td>
    <td><%= link_to "SR-36", "output?road=sr36" %></td>
    <td><%= link_to "SR-37", "output?road=sr37" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-38", "output?road=sr38" %></td>
    <td><%= link_to "SR-39", "output?road=sr39" %></td>
    <td><%= link_to "SR-41", "output?road=sr41" %></td>
    <td><%= link_to "SR-43", "output?road=sr43" %></td>
    <td><%= link_to "SR-44", "output?road=sr44" %></td>
    <td><%= link_to "SR-45", "output?road=sr45" %></td>
    <td><%= link_to "SR-46", "output?road=sr46" %></td>
  </tr>
</tbody></table>

<p>&nbsp;</p>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 47 to 86</p></th>
  </tr>
  <tr>
    <td><%= link_to "SR-47", "output?road=sr47" %></td>
    <td><%= link_to "SR-48", "output?road=sr48" %></td>
    <td><%= link_to "SR-49", "output?road=sr49" %></td>
    <td><%= link_to "SR-51", "output?road=sr51" %></td>
    <td><%= link_to "SR-52", "output?road=sr52" %></td>
    <td><%= link_to "SR-53", "output?road=sr53" %></td>
    <td><%= link_to "SR-54", "output?road=sr54" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-55", "output?road=sr55" %></td>
    <td><%= link_to "SR-56", "output?road=sr56" %></td>
    <td><%= link_to "SR-57", "output?road=sr57" %></td>
    <td><%= link_to "SR-58", "output?road=sr58" %></td>
    <td><%= link_to "SR-59", "output?road=sr59" %></td>
    <td><%= link_to "SR-60", "output?road=sr60" %></td>
    <td><%= link_to "SR-61", "output?road=sr61" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-62", "output?road=sr62" %></td>
    <td><%= link_to "SR-63", "output?road=sr63" %></td>
    <td><%= link_to "SR-65", "output?road=sr65" %></td>
    <td><%= link_to "SR-66", "output?road=sr66" %></td>
    <td><%= link_to "SR-67", "output?road=sr67" %></td>
    <td><%= link_to "SR-68", "output?road=sr68" %></td>
    <td><%= link_to "SR-70", "output?road=sr70" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-71", "output?road=sr71" %></td>
    <td><%= link_to "SR-72", "output?road=sr72" %></td>
    <td><%= link_to "SR-73", "output?road=sr73" %></td>
    <td><%= link_to "SR-74", "output?road=sr74" %></td>
    <td><%= link_to "SR-75", "output?road=sr75" %></td>
    <td><%= link_to "SR-76", "output?road=sr76" %></td>
    <td><%= link_to "SR-77", "output?road=sr77" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-78", "output?road=sr78" %></td>
    <td><%= link_to "SR-79", "output?road=sr79" %></td>
    <td><%= link_to "SR-82", "output?road=sr82" %></td>
    <td><%= link_to "SR-83", "output?road=sr83" %></td>
    <td><%= link_to "SR-84", "output?road=sr84" %></td>
    <td><%= link_to "SR-85", "output?road=sr85" %></td>
    <td><%= link_to "SR-86", "output?road=sr86" %></td>
  </tr>
</tbody></table>

<p>&nbsp;</p>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 87 to 132</p></th>
  </tr>
  <tr>
    <td><%= link_to "SR-87", "output?road=sr87" %></td>
    <td><%= link_to "SR-88", "output?road=sr88" %></td>
    <td><%= link_to "SR-89", "output?road=sr89" %></td>
    <td><%= link_to "SR-90", "output?road=sr90" %></td>
    <td><%= link_to "SR-91", "output?road=sr91" %></td>
    <td><%= link_to "SR-92", "output?road=sr92" %></td>
    <td><%= link_to "SR-94", "output?road=sr94" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-96", "output?road=sr96" %></td>
    <td><%= link_to "SR-98", "output?road=sr98" %></td>
    <td><%= link_to "SR-99", "output?road=sr99" %></td>
    <td><%= link_to "SR-103", "output?road=sr103" %></td>
    <td><%= link_to "SR-104", "output?road=sr104" %></td>
    <td><%= link_to "SR-107", "output?road=sr107" %></td>
    <td><%= link_to "SR-108", "output?road=sr108" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-109", "output?road=sr109" %></td>
    <td><%= link_to "SR-111", "output?road=sr111" %></td>
    <td><%= link_to "SR-112", "output?road=sr112" %></td>
    <td><%= link_to "SR-113", "output?road=sr113" %></td>
    <td><%= link_to "SR-114", "output?road=sr114" %></td>
    <td><%= link_to "SR-115", "output?road=sr115" %></td>
    <td><%= link_to "SR-116", "output?road=sr116" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-118", "output?road=sr118" %></td>
    <td><%= link_to "SR-119", "output?road=sr119" %></td>
    <td><%= link_to "SR-120", "output?road=sr120" %></td>
    <td><%= link_to "SR-121", "output?road=sr121" %></td>
    <td><%= link_to "SR-123", "output?road=sr123" %></td>
    <td><%= link_to "SR-124", "output?road=sr124" %></td>
    <td><%= link_to "SR-125", "output?road=sr125" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-126", "output?road=sr126" %></td>
    <td><%= link_to "SR-127", "output?road=sr127" %></td>
    <td><%= link_to "SR-128", "output?road=sr128" %></td>
    <td><%= link_to "SR-129", "output?road=sr129" %></td>
    <td><%= link_to "SR-130", "output?road=sr130" %></td>
    <td><%= link_to "SR-131", "output?road=sr131" %></td>
    <td><%= link_to "SR-132", "output?road=sr132" %></td>
  </tr>
</tbody></table>

<p>&nbsp;</p>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 133 to 170</p></th>
  </tr>
  <tr>
    <td><%= link_to "SR-133", "output?road=sr133" %></td>
    <td><%= link_to "SR-134", "output?road=sr134" %></td>
    <td><%= link_to "SR-135", "output?road=sr135" %></td>
    <td><%= link_to "SR-136", "output?road=sr136" %></td>
    <td><%= link_to "SR-137", "output?road=sr137" %></td>
    <td><%= link_to "SR-138", "output?road=sr138" %></td>
    <td><%= link_to "SR-139", "output?road=sr139" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-140", "output?road=sr140" %></td>
    <td><%= link_to "SR-141", "output?road=sr141" %></td>
    <td><%= link_to "SR-142", "output?road=sr142" %></td>
    <td><%= link_to "SR-144", "output?road=sr144" %></td>
    <td><%= link_to "SR-145", "output?road=sr145" %></td>
    <td><%= link_to "SR-146", "output?road=sr146" %></td>
    <td><%= link_to "SR-147", "output?road=sr147" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-149", "output?road=sr149" %></td>
    <td><%= link_to "SR-150", "output?road=sr150" %></td>
    <td><%= link_to "SR-151", "output?road=sr151" %></td>
    <td><%= link_to "SR-152", "output?road=sr152" %></td>
    <td><%= link_to "SR-153", "output?road=sr153" %></td>
    <td><%= link_to "SR-154", "output?road=sr154" %></td>
    <td><%= link_to "SR-155", "output?road=sr155" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-156", "output?road=sr156" %></td>
    <td><%= link_to "SR-158", "output?road=sr158" %></td>
    <td>SR-159</td>
    <td><%= link_to "SR-160", "output?road=sr160" %></td>
    <td><%= link_to "SR-161", "output?road=sr161" %></td>
    <td><%= link_to "SR-162", "output?road=sr162" %></td>
    <td><%= link_to "SR-163", "output?road=sr163" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-164", "output?road=sr164" %></td>
    <td><%= link_to "SR-165", "output?road=sr165" %></td>
    <td><%= link_to "SR-166", "output?road=sr166" %></td>
    <td><%= link_to "SR-167", "output?road=sr167" %></td>
    <td><%= link_to "SR-168", "output?road=sr168" %></td>
    <td><%= link_to "SR-169", "output?road=sr169" %></td>
    <td><%= link_to "SR-170", "output?road=sr170" %></td>
  </tr>
</tbody></table>

<p>&nbsp;</p>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 172 to 219</p></th>
  </tr>
  <tr>
    <td><%= link_to "SR-172", "output?road=sr172" %></td>
    <td><%= link_to "SR-173", "output?road=sr173" %></td>
    <td><%= link_to "SR-174", "output?road=sr174" %></td>
    <td><%= link_to "SR-175", "output?road=sr175" %></td>
    <td><%= link_to "SR-177", "output?road=sr177" %></td>
    <td><%= link_to "SR-178", "output?road=sr178" %></td>
    <td><%= link_to "SR-180", "output?road=sr180" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-182", "output?road=sr182" %></td>
    <td><%= link_to "SR-183", "output?road=sr183" %></td>
    <td><%= link_to "SR-184", "output?road=sr184" %></td>
    <td><%= link_to "SR-185", "output?road=sr185" %></td>
    <td><%= link_to "SR-186", "output?road=sr186" %></td>
    <td><%= link_to "SR-187", "output?road=sr187" %></td>
    <td><%= link_to "SR-188", "output?road=sr188" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-189", "output?road=sr189" %></td>
    <td><%= link_to "SR-190", "output?road=sr190" %></td>
    <td><%= link_to "SR-191", "output?road=sr191" %></td>
    <td><%= link_to "SR-192", "output?road=sr192" %></td>
    <td><%= link_to "SR-193", "output?road=sr193" %></td>
    <td><%= link_to "SR-195", "output?road=sr195" %></td>
    <td><%= link_to "SR-197", "output?road=sr197" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-198", "output?road=sr198" %></td>
    <td><%= link_to "SR-200", "output?road=sr200" %></td>
    <td><%= link_to "SR-201", "output?road=sr201" %></td>
    <td><%= link_to "SR-202", "output?road=sr202" %></td>
    <td><%= link_to "SR-203", "output?road=sr203" %></td>
    <td><%= link_to "SR-204", "output?road=sr204" %></td>
    <td><%= link_to "SR-207", "output?road=sr207" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-209", "output?road=sr209" %></td>
    <td><%= link_to "SR-211", "output?road=sr211" %></td>
    <td><%= link_to "SR-213", "output?road=sr213" %></td>
    <td><%= link_to "SR-216", "output?road=sr216" %></td>
    <td><%= link_to "SR-217", "output?road=sr217" %></td>
    <td><%= link_to "SR-218", "output?road=sr218" %></td>
    <td><%= link_to "SR-219", "output?road=sr219" %></td>
  </tr>
</tbody></table>

<p>&nbsp;</p>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 220 to 371</p></th>
  </tr>
  <tr>
    <td><%= link_to "SR-220", "output?road=sr220" %></td>
    <td><%= link_to "SR-221", "output?road=sr221" %></td>
    <td><%= link_to "SR-222", "output?road=sr222" %></td>
    <td><%= link_to "SR-223", "output?road=sr223" %></td>
    <td><%= link_to "SR-224", "output?road=sr224" %></td>
    <td><%= link_to "SR-225", "output?road=sr225" %></td>
    <td><%= link_to "SR-227", "output?road=sr227" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-229", "output?road=sr229" %></td>
    <td><%= link_to "SR-236", "output?road=sr236" %></td>
    <td><%= link_to "SR-237", "output?road=sr237" %></td>
    <td><%= link_to "SR-238", "output?road=sr238" %></td>
    <td><%= link_to "SR-241", "output?road=sr241" %></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td><%= link_to "SR-242", "output?road=sr242" %></td>
    <td><%= link_to "SR-243", "output?road=sr243" %></td>
    <td><%= link_to "SR-244", "output?road=sr244" %></td>
    <td><%= link_to "SR-245", "output?road=sr245" %></td>
    <td><%= link_to "SR-246", "output?road=sr246" %></td>
    <td><%= link_to "SR-247", "output?road=sr247" %></td>
    <td><%= link_to "SR-252", "output?road=sr252" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-253", "output?road=sr253" %></td>
    <td><%= link_to "SR-254", "output?road=sr254" %></td>
    <td><%= link_to "SR-255", "output?road=sr255" %></td>
    <td><%= link_to "SR-259", "output?road=sr259" %></td>
    <td><%= link_to "SR-260", "output?road=sr260" %></td>
    <td><%= link_to "SR-262", "output?road=sr262" %></td>
    <td><%= link_to "SR-263", "output?road=sr263" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-265", "output?road=sr265" %></td>
    <td><%= link_to "SR-266", "output?road=sr266" %></td>
    <td><%= link_to "SR-267", "output?road=sr267" %></td>
    <td><%= link_to "SR-269", "output?road=sr269" %></td>
    <td><%= link_to "SR-270", "output?road=sr270" %></td>
    <td><%= link_to "SR-271", "output?road=sr271" %></td>
    <td><%= link_to "SR-273", "output?road=sr273" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-274", "output?road=sr274" %></td>
    <td><%= link_to "SR-275", "output?road=sr275" %></td>
    <td><%= link_to "SR-281", "output?road=sr281" %></td>
    <td><%= link_to "SR-282", "output?road=sr282" %></td>
    <td><%= link_to "SR-283", "output?road=sr283" %></td>
    <td><%= link_to "SR-284", "output?road=sr284" %></td>
    <td><%= link_to "SR-299", "output?road=sr299" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-330", "output?road=sr330" %></td>
    <td><%= link_to "SR-371", "output?road=sr371" %></td>
    <td><%= link_to "SR-905", "output?road=sr905" %></td>
    <td><p>End</p></td>
    <td>.</td>
    <td>.</td>
    <td>.</td>
  </tr>
</tbody></table>

<!-- footer -->
</div>