<%
=begin %>

Highway 1: 
<%= form_tag do %>
  <%= text_field_tag :highway1 %>
  <%= submit_tag "Search" %>
<% end %><br><br>

<%
=end %>
<pre>
<%= session[:dummy_data].inspect %>
</pre>

  <%= link_to "Caltrans Road & Traffic", "http://www.dot.ca.gov/roadsandtraffic.html" %>

  <div class="column_inner">
<div class="cleaner">&nbsp;</div>

<!-- pageContent -->
<h2>Highway Tables</h2>

<p><strong>Before driving, check with the Caltrans Highway Information Network (CHIN)
  <span class="red">800.427.7623</span></strong></p>

<h2>Current Highway Information - Table Format</h2>

<h4>Interstate Highways</h4>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 5 to 980</p></th>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i5">I-5</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i8">I-8</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i10">I-10</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i15">I-15</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i40">I-40</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i80">I-80</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i105">I-105</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i110">I-110</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i205">I-205</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i210">I-210</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i215">I-215</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i280">I-280</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i380">I-380</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i405">I-405</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i505">I-505</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i580">I-580</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i605">I-605</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i680">I-680</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i710">I-710</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i780">I-780</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i805">I-805</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i880">I-880</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/i980">I-980</a></td>
    <td>.</td>
    <td>.</td>
    <td>.</td>
    <td>.</td>
    <td>.</td>
  </tr>
</tbody></table>

<h4>US Highways in California</h4>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 6 to 395</p></th>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/us6">US-6</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/us50">US-50</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/us95">US-95</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/us97">US-97</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/us101">US-101</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/us199">US-199</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/us395">US-395</a></td>
  </tr>
</tbody></table>

<h4>State Routes in California</h4>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 1 to 46</p></th>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr1">SR-1</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr2">SR-2</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr3">SR-3</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr4">SR-4</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr9">SR-9</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr12">SR-12</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr13">SR-13</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr14">SR-14</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr16">SR-16</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr17">SR-17</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr18">SR-18</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr19">SR-19</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr20">SR-20</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr22">SR-22</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr23">SR-23</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr24">SR-24</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr25">SR-25</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr26">SR-26</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr27">SR-27</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr28">SR-28</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr29">SR-29</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr30">SR-30</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr32">SR-32</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr33">SR-33</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr34">SR-34</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr35">SR-35</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr36">SR-36</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr37">SR-37</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr38">SR-38</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr39">SR-39</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr41">SR-41</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr43">SR-43</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr44">SR-44</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr45">SR-45</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr46">SR-46</a></td>
  </tr>
</tbody></table>

<p>&nbsp;</p>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 47 to 86</p></th>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr47">SR-47</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr48">SR-48</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr49">SR-49</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr51">SR-51</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr52">SR-52</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr53">SR-53</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr54">SR-54</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr55">SR-55</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr56">SR-56</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr57">SR-57</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr58">SR-58</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr59">SR-59</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr60">SR-60</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr61">SR-61</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr62">SR-62</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr63">SR-63</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr65">SR-65</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr66">SR-66</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr67">SR-67</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr68">SR-68</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr70">SR-70</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr71">SR-71</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr72">SR-72</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr73">SR-73</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr74">SR-74</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr75">SR-75</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr76">SR-76</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr77">SR-77</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr78">SR-78</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr79">SR-79</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr82">SR-82</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr83">SR-83</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr84">SR-84</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr85">SR-85</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr86">SR-86</a></td>
  </tr>
</tbody></table>

<p>&nbsp;</p>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 87 to 132</p></th>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr87">SR-87</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr88">SR-88</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr89">SR-89</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr90">SR-90</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr91">SR-91</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr92">SR-92</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr94">SR-94</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr96">SR-96</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr98">SR-98</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr99">SR-99</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr103">SR-103</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr104">SR-104</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr107">SR-107</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr108">SR-108</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr109">SR-109</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr111">SR-111</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr112">SR-112</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr113">SR-113</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr114">SR-114</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr115">SR-115</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr116">SR-116</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr118">SR-118</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr119">SR-119</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr120">SR-120</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr121">SR-121</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr123">SR-123</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr124">SR-124</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr125">SR-125</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr126">SR-126</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr127">SR-127</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr128">SR-128</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr129">SR-129</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr130">SR-130</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr131">SR-131</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr132">SR-132</a></td>
  </tr>
</tbody></table>

<p>&nbsp;</p>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 133 to 170</p></th>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr133">SR-133</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr134">SR-134</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr135">SR-135</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr136">SR-136</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr137">SR-137</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr138">SR-138</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr139">SR-139</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr140">SR-140</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr141">SR-141</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr142">SR-142</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr144">SR-144</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr145">SR-145</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr146">SR-146</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr147">SR-147</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr149">SR-149</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr150">SR-150</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr151">SR-151</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr152">SR-152</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr153">SR-153</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr154">SR-154</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr155">SR-155</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr156">SR-156</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr158">SR-158</a></td>
    <td>SR-159</td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr160">SR-160</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr161">SR-161</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr162">SR-162</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr163">SR-163</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr164">SR-164</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr165">SR-165</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr166">SR-166</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr167">SR-167</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr168">SR-168</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr169">SR-169</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr170">SR-170</a></td>
  </tr>
</tbody></table>

<p>&nbsp;</p>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 172 to 219</p></th>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr172">SR-172</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr173">SR-173</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr174">SR-174</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr175">SR-175</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr177">SR-177</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr178">SR-178</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr180">SR-180</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr182">SR-182</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr183">SR-183</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr184">SR-184</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr185">SR-185</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr186">SR-186</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr187">SR-187</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr188">SR-188</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr189">SR-189</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr190">SR-190</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr191">SR-191</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr192">SR-192</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr193">SR-193</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr195">SR-195</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr197">SR-197</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr198">SR-198</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr200">SR-200</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr201">SR-201</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr202">SR-202</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr203">SR-203</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr204">SR-204</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr207">SR-207</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr209">SR-209</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr211">SR-211</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr213">SR-213</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr216">SR-216</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr217">SR-217</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr218">SR-218</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr219">SR-219</a></td>
  </tr>
</tbody></table>

<p>&nbsp;</p>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 220 to 371</p></th>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr220">SR-220</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr221">SR-221</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr222">SR-222</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr223">SR-223</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr224">SR-224</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr225">SR-225</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr227">SR-227</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr229">SR-229</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr236">SR-236</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr237">SR-237</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr238">SR-238</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr241">SR-241</a></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr242">SR-242</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr243">SR-243</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr244">SR-244</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr245">SR-245</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr246">SR-246</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr247">SR-247</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr252">SR-252</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr253">SR-253</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr254">SR-254</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr255">SR-255</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr259">SR-259</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr260">SR-260</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr262">SR-262</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr263">SR-263</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr265">SR-265</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr266">SR-266</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr267">SR-267</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr269">SR-269</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr270">SR-270</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr271">SR-271</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr273">SR-273</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr274">SR-274</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr275">SR-275</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr281">SR-281</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr282">SR-282</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr283">SR-283</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr284">SR-284</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr299">SR-299</a></td>
  </tr>
  <tr>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr330">SR-330</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr371">SR-371</a></td>
    <td><a href="http://www.dot.ca.gov/hq/roadinfo/sr905">SR-905</a></td>
    <td><p>End</p></td>
    <td>.</td>
    <td>.</td>
    <td>.</td>
  </tr>
</tbody></table>

<!-- footer -->
</div>