<style type="text/css">
	.city-input{
		margin-bottom: 10px;
	}
</style>

<h1>City Weather Input</h1>
<%= form_tag do %>
  <div id="form-inputs">
   <%= label_tag "city1:" %><%= text_field_tag :city1, nil, class: "city-input" %><br>
   <%= label_tag "city2:" %><%= text_field_tag :city2, nil, class: "city-input" %><br>
   <%= label_tag "city3:" %><%= text_field_tag :city3, nil, class: "city-input" %><br>
   <%= label_tag "city4:" %><%= text_field_tag :city4, nil, class: "city-input" %><br>
  </div>
  <%= submit_tag "Search" %>
<% end %><br><br>

<script type="text/javascript">
//alert("Here I am");

// var input = document.createElement("input");
// input.type = "text";
// var inputs = document.getElementsById("form-inputs");
// inputs.appendChild(input);
</script>